process filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
train.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
eval.py filter=lfs diff=lfs merge=lfs -text
lavis filter=lfs diff=lfs merge=lfs -text
results filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
test.py filter=lfs diff=lfs merge=lfs -text
utils.py filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
